$prime_blue: #231E5F;
$prime_orange: #FF9900;
$prime_yellow: #EBE812;
$bg_color: #FFFEF3;

// mixin

@mixin portriat{
    aspect-ratio: 1/1;
    border-radius: 20rem;
    width: 50%;
    margin: 1.5rem;
    background-position: center;
    background-size: cover;
}

// var
.v-blue{
    color: $prime_blue;
}

.v-orange{
    color: $prime_orange;
}

.v-bg{
    background-color: $bg_color;
}
  
// layout

.l-header{
    height: 90vh;
    background-image: linear-gradient(to bottom, gray, gray, $bg_color);
    color: $prime_yellow;
    overflow-x: hidden;
    h1{
        font-size: 8vw;
        @media (max-width: 768px) {
            font-size: 4rem;  
           }
    }
    h2{
        font-size: 5vw;
        @media (max-width: 768px) {
            font-size: 2rem;  
           }
    }
    @media (min-width: 768px) {
        padding-right: 15rem;
    }
}

.l-intro{
    &__bg{
        min-height: 25rem;
        width: 100%;
        background-image: url('../media/newcomers-1.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

// component

.c-subTitle{
    color: $bg_color;
    letter-spacing: 1vw;
    @media (max-width: 768px) {
        font-size: 1rem;  
       }
}

.c-topicTitle{
    color: $prime_blue;
    background-color: $prime_yellow;
    transform: rotate(-3deg);
}

.c-hand{
    width: 100vw;
    aspect-ratio: 16/9;
    background-image: url('../media/hand_CD.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(-150px);
    margin-top: -25rem;
    margin-bottom: -25rem;
}

.c-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #231E5F solid 0.1rem;
    border-radius: 1rem;
}

.c-portriat{
    &__wen{
        background-image: url('../media/wenjean.png');
        @include portriat();
    }
    &__jing{
        background-image: url('../media/jing.png');
        @include portriat();
    }
    &__you{
        background-image: url('../media/newcomers-2.jpg');
        @include portriat();
    }
}

// object

.o-titleXXL{
    font-size: 8rem;
    @media (max-width: 768px) {
     font-size: 4.5rem;;   
    }
}

.o-titleM{
    font-size: 3rem;
}

.o-titleS{
    color: $prime_blue;
}

.o-unset{
    all: unset;
}

.o-a{
    all: unset;
    color: $prime_blue;
    cursor: pointer;
    &:hover{
        color: $prime_orange;
        font-weight: 900;
    }
}

.o-icon{
    &__card{
        font-size: 3rem;
    }
}